<%= if @live_action == :new do %>
  <%= live_modal MilkWeb.FeedLive.FormComponent,
    id: @feed.id || :new,
    title: @page_title,
    action: @live_action,
    feed: @feed,
    return_to: Routes.feed_index_path(@socket, :index) %>
<% end %>

<%= live_component MilkWeb.FeedLive.TimeComponent, last_feed: @last_feed %>

<div class="row mx-0 mb-3">
  <%= live_patch "Log new feed...", to: Routes.feed_index_path(@socket, :new),
      class: "btn btn-primary" %>
</div>

<%= if @live_action == :edit do %>
  <%= live_patch "Close", class: "float-end", to: Routes.feed_index_path(@socket, :index) %>
<% else %>
  <%= live_patch "Edit", class: "float-end", to: Routes.feed_index_path(@socket, :edit) %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Past 24 hours - <%= print_feeds(@feeds) %></th>
    </tr>
  </thead>
  <tbody id="feeds">
    <%= for {feed, index} <- Enum.with_index(@feeds) do %>
      <tr class="<%= if index == 0, do: "table-dark" %>">
        <td>
          <%= feed.started_at |> relative_datetime() %>
          <span class="float-end mx-2">
          <%= if feed.is_bottle do %>
            <%= feed.milliliters %>ml
            <%= if feed.is_formula, do: "🧪", else: "👩🏻" %>🍼
          <% else %>
            🤱🏻
          <% end %>
          </span>
        </td>
        <%= if @live_action == :edit do %>
          <td><a href="#" phx-click="delete" phx-value-id="<%= feed.id %>">Delete</a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
