<section class="container">
  <h2>Which bottle?</h2>

  <div class="column">
    <%= for bottle <- @bottles do %>
      <button
        phx-click="bottle"
        phx-value-key="<%= bottle.name %>"
        style="background-color: <%= bottle.color %>"
      >
        <%= bottle.name %>
      </button>
    <% end %>
  </div>
</section>
