<section class="container">
  <h2>Which bottle?</h2>

  <div class="column">
    <%= for {text, color} <- @buttons do %>
      <button
        phx-click="bottle"
        phx-value-key="<%= text%>"
        style="background-color: <%= color %>"
      >
        <%= text %>
      </button>
    <% end %>
  </div>
</section>
