<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Milk", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav class="py-3 fs-6 fw-bolder" role="navigation">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link <%= if hd(@conn.path_info) == "feeds", do: "active" %>"
              href="<%= Routes.feed_index_path(@conn, :index) %>">Feeds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= if hd(@conn.path_info) == "bottles", do: "active" %>"
              href="<%= Routes.bottle_index_path(@conn, :index) %>">Bottles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= if hd(@conn.path_info) == "diapers", do: "active" %>"
              href="<%= Routes.diaper_index_path(@conn, :index) %>">Diapers</a>
          </li>
        <ul>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
